.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10em;
  padding-top: 24em;
  min-height: 100vh;
}

.aboutMe-grid {
  margin-bottom: 10em;
  max-width: 60em;
}

.aboutMe-grid h2 {
  margin-bottom: 1em;
}

.aboutMe-grid p {
  margin-bottom: 0.5em;
}

.ico-contact {
  display: flex;
}

.ico-contact svg {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.skills {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.skill-grid img {
  max-width: 6em;
  margin-right: 3em;
  margin-bottom: 0.5em;
}
