footer {
  background-image: url('/scr/backFooter.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10em;
  padding-top: 24em;
  min-height: 100vh;
}

.aboutMe-grid {
  padding-bottom: 10em;
  max-width: 60em;
}

.aboutMe-grid h2 {
  margin-bottom: 1em;
}

.aboutMe h2 span {
  color: var(--color-title-span);
  white-space: nowrap;
}

.aboutMe-grid p {
  margin-bottom: 0.5em;
}
.aboutMe-grid ul {
  display: flex;
  flex-wrap: wrap;
}

.aboutMe-grid li {
  margin-right: 2em;
}

.aboutMe-grid li svg {
  margin-top: 1.5em;
  fill: var(--background-light);
  transition: all 0.2s linear;
}

.aboutMe-grid li svg:hover {
  fill: var(--color-title-span);
  transition: all 0.2s linear;
}

.skill-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.skills {
  margin-bottom: 6em;
  display: flex;
  flex-wrap: wrap;
}

.skill-grid img {
  object-fit: contain;
  max-width: 6em;
  margin-right: 3em;
  margin-bottom: 0.5em;
}

.skill-contact button {
  padding: 1em 3em;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  border-radius: 8px;
  background: #d6b7f6;
  transition: all 0.2s linear;
}

.skill-contact button:hover {
  transition: all 0.2s linear;
  background: var(--background-light);
}

.en .text-pt {
  display: none;
}

.text-pt,
.text-en {
  animation: showText 0.5s ease-in;
}

.pt .text-en {
  display: none;
}

@keyframes showText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 977px) {
  footer {
    background-position: bottom;
    background-size: cover;
  }

  .aboutMe {
    display: block;
  }

  .aboutMe h2 {
    margin-bottom: 1.3em;
    line-height: 1.2em;
    font-size: 3.2rem;
  }

  .aboutMe-grid {
    max-width: unset;
    height: 100%;
  }

  .skill-grid img {
    margin-right: 2.5em;
    margin-bottom: 2.5em;
  }
}
