@import url('https://api.fontshare.com/v2/css?f[]=technor@400,700&display=swap');

:root {
  --background: #f5f6f6;
  --grey-second: #717580;
  --grey-third: #dadde6;
  --font-color-black: #1a1a1a;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
}

.contain {
  width: 100%;
  max-width: 1286px;
  padding: 0 1.5em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: var(--font-color-black);
  letter-spacing: 0.1rem;
}

h1 {
  font-family: 'inter', sans-serif;
  font-size: 9.4rem;
  font-weight: 900;
}

p,
a {
  font-size: 1.6rem;
  line-height: 2.3rem;
}
