:root {
  --background: #f5f6f6;
  --grey-second: #717580;
  --grey-third: #dadde6;
  --font-color-black: #1a1a1a;
  --font-family-title: 'satoshi', sans-serif;
  --font-family-p: 'satoshi', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--background);
  overflow-x: hidden;
  max-width: 100vw;
}

.contain {
  width: 100%;
  max-width: 1286px;
  padding: 0 1.5em;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: var(--font-color-black);
  letter-spacing: 0.1rem;
}

h1 {
  font-family: var(--font-family-title);
  font-size: 9.4rem;
  font-weight: 900;
}

h2 {
  font-family: var(--font-family-title);
  font-size: 3.4rem;
}

h3 {
  font-family: var(--font-family-title);
  font-size: 2.24rem;
}

p,
a {
  font-family: var(--font-family-p);
  font-size: 1.6rem;
  line-height: 2.3rem;
}
