header {
  min-height: 100vh;
  position: relative;
}

header section {
  min-height: 100vh;
}

.nav-bar {
  width: 100vw;
  position: fixed;
  background: rgba(6, 1, 18, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.div-nav {
  max-width: 1256px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1em;
}

.div-nav li {
  position: relative;
  display: block;
  margin-left: 1.5em;
  z-index: 2;
}

#flagEn {
  display: none;
}

#flagEn,
#flagBr {
  animation: opacityImg 0.5s linear;
}

@keyframes opacityImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#flagEn svg:hover,
#flagBr svg:hover {
  filter: brightness(80%);
}

.div-nav svg {
  fill: #ffff;
  cursor: pointer;
  max-height: 30px;
}

.div-nav svg:hover {
  fill: var(--color-title-span);
}

.header-text {
  padding-top: 24.9em;
  margin: 0 auto;
}

h1 span {
  color: var(--color-title-span);
}

.header-text h1 {
  margin-bottom: 10rem;
}

.arrows {
  display: grid;
  grid-template-columns: 1fr;
  animation: arrow_motion 1s infinite alternate;
}

.arrows svg:last-child {
  position: relative;
  top: -24px;
}

@keyframes arrow_motion {
  0%,
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
}

.mac {
  width: 100%;
  max-width: 1307px;
  height: 640px;
  position: absolute;
  display: block;
  bottom: 0;
  right: -29.5rem;
  z-index: -1;
}

.mac-mobile {
  display: none;
  position: absolute;
  bottom: 0;
  right: -15rem;
  z-index: -1;
}

/*nootebook*/
@media (min-width: 1540px) {
  .mac {
    height: 740px;
  }
}

@media (min-width: 840px) and (max-width: 1290px) {
  .mac {
    width: unset;
  }
}

@media (max-width: 839px) {
  .mac {
    display: none;
  }

  .mac-mobile {
    display: block;
  }

  .div-nav {
    padding-top: 2em;
  }
}

/*mobile*/
@media (max-width: 480px) {
  h1 {
    font-size: 4.2rem;
  }

  .header-text {
    padding-top: 10em;
  }
}
