header {
  min-height: 100vh;
}

.nav-bar {
  width: 100vw;
  position: fixed;
  /* left: 0; */
  background: rgba(245, 246, 246, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.div-nav {
  max-width: 1256px;
  /* max-width: 1419px; */
  display: flex;
  justify-content: right;
  align-items: flex-start;
  padding: 1em 0;
}

.div-nav li {
  position: relative;
  display: block;
  margin-left: 1.2em;
  z-index: 2;
}

.div-nav svg {
  cursor: pointer;
  max-height: 30px;
}

.div-nav svg:hover {
  fill: #666666;
}

.header-text {
  padding-top: 24.9em;
  margin: 0 auto;
}

h1 span {
  color: var(--grey-second);
}

.header-text h1 {
  margin-bottom: 10rem;
}

.arrows {
  display: grid;
  grid-template-columns: 1fr;
  animation: arrow_motion 1s infinite alternate;
}

.arrows svg:last-child {
  position: relative;
  top: -24px;
}

@keyframes arrow_motion {
  0%,
  40% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
}

.mac {
  position: absolute;
  display: block;
  bottom: 0;
  right: -20.5rem;
  z-index: -1;
}
