.modal-wrapper {
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper.active {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.active .modal {
  animation: modal 0.5s forwards;
}

.modal {
  width: 100rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  background: var(--background-light);
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.15);
}

[data-modal='imageModal'] {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: block;
  border-radius: 15px 0 0 15px;
}

.modal-div {
  padding: 10em 5em 8em;
  position: relative;
}

.modal-text h2 {
  margin-bottom: 3rem;
}

.modal-text p {
  margin-bottom: 4rem;
}

.modal-link {
  display: flex;
  align-items: center;
}

.modal-a {
  padding: 1rem 0;
}

.modal-git svg {
  transition: all 0.5s;
}

.modal-git svg:hover {
  fill: var(--color-hover);
}

.buttom-view {
  margin-right: 3rem;
  padding: 1.6rem 2.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--background);
  font-weight: 700;
  background: var(--font-color-black);
  transition: all 0.2s;
}

.pt .buttom-view {
  padding: 1.6rem 4rem;
}

.buttom-view:hover {
  font-weight: 700;
  background: var(--color-hover);
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
}

.modal-text h3 {
  color: var(--font-color-black);
  margin: 3rem 0 2.5rem;
}

[data-modal='title'],
[data-modal='paragraph'] {
  color: var(--font-color-black);
}

.modal-technology {
  display: flex;
  flex-wrap: wrap;
}

.modal-technology img {
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  display: block;
  width: 100%;
  max-width: 50px;
  clip-path: circle(50%);
  box-sizing: border-box;
}

.close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 50%;
  background: none;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.close:hover {
  color: var(--color-hover);
}

.pTeste {
  color: red;
}

@media (max-width: 977px) {
  .modal {
    width: 90vw;
  }

  .modal-div {
    padding: 3em;
  }
}

/*mobile*/
@media (max-width: 539px) {
  .modal {
    grid-template-columns: 1fr;
  }

  .modal-div {
    padding: 2.5em;
  }

  .project_images {
    grid-template-columns: 1fr;
  }

  [data-modal='imageModal'] {
    display: none;
  }
}
