.project {
  padding-top: 24em;
  min-height: 100vh;
}

.project_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2em;
}

.project_images li img {
  display: block;
  width: 100%;
  max-width: 60rem;
  max-height: 70rem;
  border-radius: 15px;
  cursor: pointer;
}

.project_description {
  text-align: center;
}

.project_description h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
