.comments {
  padding-top: 20em;
}

.commentContain {
  display: flex;
  justify-content: space-between;
}

.comments h2 {
  margin-bottom: 1.5em;
}

.commentsLi {
  min-width: 530px;
  padding-right: 5em;
  display: block;
  text-align: left;
  font-style: italic;
}

.commentsLi img {
  margin-bottom: 4.7em;
}

.comment-p {
  font-style: italic;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.4em;
  cursor: pointer;
}

.comment-p::before {
  content: '‘‘';
  display: block;
  font-size: 7.2rem;
}

.author {
  margin: 0.8em 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 150%;
  color: rgba(34, 34, 59, 0.65);
}

.btnComment {
  padding: 0.8em 1.6em;
}

.slide-wraper {
  overflow: hidden;
}

.container.slide-wraper {
  display: inherit;
}

[data-control='selector-grid'] {
  margin: 7.2em 0 0;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

[data-control='selector-grid'] a {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  text-indent: -9999px;
}

[data-control='selector-grid'] .active a,
[data-control='selector-grid'] a:hover {
  background: #000000;
}

/*Tablet / Mobile*/

@media (max-width: 900px) {
  .comments {
    display: none;
  }
}
