.wrapper-menu {
  border-top: 3px solid var(--blue-color);
}

.wrapper-menu ul {
  display: flex;
  margin-top: 1.9em;
  margin-bottom: 2.2em;
  align-items: center;
  justify-content: space-between;
}

.wrapper-menu li a {
  font-size: 1.8rem;
  text-align: center;
}

.logo {
  display: block;
  width: 100%;
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
}

.wrapper-menu li a:hover {
  color: var(--hover-menu);
  border-bottom: 4px solid var(--hover-menu);
}

.search input {
  max-width: 201px;
  padding: 13px;
  border: 2px solid #9494a0;
  font-family: 'inter';
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.65);
}

#btnSearch {
  padding: 0;
  background: #9494a0;
  box-sizing: border-box;
}

#btnSearch img {
  width: 48px;
  padding: 8px;
}

#user {
  margin-left: 2.1em;
}

#car,
#user {
  cursor: pointer;
}

/*Banner Section*/

.bannerContain {
  padding-left: 2.4em;
}

.txtBanner {
  position: absolute;
  top: 35%;
  padding-left: var(--dist-left);
  box-sizing: border-box;
}

.banner p {
  margin: 0.6em 0 1em;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #22223b;
}

.imgBanner {
  display: block;
  width: 100%;
  max-height: 965px;
  object-fit: cover;
}

/*Products*/

.products {
  position: relative;
  margin-top: -15em;
  padding: 0 var(--dist-left);
}

.products ul {
  padding: 0 2.4em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2em;
}

.products li p {
  margin: 20px 0;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.9rem;
  text-align: center;
}

.products li img {
  display: block;
  width: 100%;
  max-width: 384px;
}

/*Breakpoints*/
@media (min-width: 1930px) {
  .bannerImg {
    background-size: cover;
  }

  .txtBanner {
    max-width: 1015px;
    top: 40%;
  }
}

@media (min-width: 1140px) and (max-width: 1490px) {
  .products {
    margin-top: -9em;
  }

  .txtBanner {
    top: 25%;
  }

  .banner p {
    margin: 0.3em 0 0.5em;
  }
}

@media (min-width: 840px) and (max-width: 1140px) {
  .products {
    margin-top: -6em;
  }

  .txtBanner {
    top: 20%;
  }

  .banner p {
    margin: 0.3em 0 0.5em;
  }
}

@media (max-width: 1000px) {
  .wrapper-menu {
    display: none;
  }
  .txtBanner {
    top: 5%;
  }
}

/*Tablet*/

@media (min-width: 400px) and (max-width: 900px) {
  .wrapper-menu ul li a,
  .search,
  #car,
  #user {
    display: none;
  }

  .bannerContain {
    padding-right: 2.4em;
  }

  .txtBanner {
    padding: 0 0 6.4em;
    position: initial;
  }

  .txtBanner p {
    font-size: 3rem;
  }

  .products {
    position: initial;
    padding: 0;
    margin: -4em 0 8.5em;
  }

  .products ul {
    grid-template-columns: 1fr 1fr;
    gap: 1.6em;
  }
}

/*Mobile*/

@media (max-width: 400px) {
  .wrapper-menu ul li a,
  .search,
  #car,
  #user {
    display: none;
  }

  .wrapper-menu ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  .logo {
    max-width: 163px;
    margin: 1.5rem 0 6.4rem;
  }

  .txtBanner {
    padding: 0 0 6.4em;
    position: initial;
  }

  .txtBanner p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
  }

  .products {
    position: initial;
    padding: 0;
    margin: -3em 0 8.5em;
  }

  .products ul {
    grid-template-columns: 1fr 1fr;
    gap: 1.6em;
  }

  .products ul li p {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }
}
