.about {
  margin-top: 16em;
  padding-left: calc(var(--dist-left));
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  background: linear-gradient(#fcfcfc, #f9f9f9, #fafafa);
}

.about::after {
  display: block;
  content: '';
  background: url('/img/aboutProduct.png') no-repeat;
  background-size: cover;
}

.txtAbout {
  padding-left: 2.4em;
}

.txtAbout h3 {
  margin-bottom: 1.5em;
}

.txtAbout p {
  max-width: 37.8em;
  line-height: 4rem;
}

.txtAbout p:nth-child(3) {
  margin: 32px 0 29px;
}

.txtAbout span {
  display: flex;
  align-items: end;
}

.txtAbout span a {
  font-size: 2.4rem;
  text-align: center;
  text-decoration-line: underline;
}

.txtAbout span a:hover {
  color: var(--a-hover-color);
}

#btnAbout {
  margin-right: 1.35em;
  padding: 0.8em;
}

.imgAboutMb {
  display: none;
}

/*Breakpoints*/
@media (min-width: 2060px) {
  .about {
    grid-template-columns: 1fr 1.5fr;
  }

  .about::after {
    background-position: center 30%;
  }
}

@media (min-width: 840px) and (max-width: 1195px) {
  .txtAbout h3 {
    margin-bottom: 0.5em;
  }

  .txtAbout p {
    line-height: 3rem;
  }

  .txtAbout p:nth-child(3) {
    margin: 1.2em 0;
  }
}

/*Tablet*/

@media (min-width: 400px) and (max-width: 900px) {
  .about {
    display: block;
    margin: 0;
    margin-bottom: 12em;
    padding: 0;
    background-image: none;
  }

  .txtAbout h3 {
    margin: 0 0.75em 0.75em;
  }

  .txtAbout p {
    margin: 0 1.3em;
    max-width: 100%;
    line-height: 1.3em;
  }

  .txtAbout span p {
    margin-top: 0.8em;
    text-align: center;
    line-height: 1.4em;
  }

  .txtAbout span a {
    padding-top: 0.8em;
  }

  .txtAbout p:nth-child(3) {
    margin: 0.8em 1.3em 2em;
  }

  .txtAbout span {
    margin: 0 2.4em;
    display: grid;
  }

  #btnAbout {
    width: 50%;
    margin: 0 auto;
  }

  .imgAboutMb {
    display: block;
    width: 100%;
    max-height: 47.3em;
    margin-bottom: 3em;
    object-fit: cover;
  }
}

/*Mobile*/

@media (max-width: 400px) {
  .about {
    display: block;
    margin: 0;
    margin-bottom: 12em;
    padding: 0;
    background-image: none;
  }

  .txtAbout h3 {
    margin: 0 1em 1em;
    font-size: 2.4rem;
    line-height: 150%;
  }

  .txtAbout p {
    margin: 0 1.7em;
    font-size: 1.4rem;
    line-height: 1.7em;
  }

  .txtAbout span p {
    margin-top: 1em;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.625em;
  }

  .txtAbout span a {
    padding-top: 0.8em;
    line-height: 110%;
  }

  .txtAbout p:nth-child(3) {
    margin: 1.15em 1.7em 1.7em;
  }

  .txtAbout span {
    margin: 0 2.4em;
    display: grid;
  }

  #btnAbout {
    margin-right: 0;
  }

  .imgAboutMb {
    display: block;
    width: 100%;
    margin-bottom: 2.4em;
  }
}
