.advantage {
  padding-top: 20em;
}

.advantage .selector1 {
  display: none;
}

#userAdvantageMb {
  display: none;
}

#userAdvantage {
  display: block;
  width: 100%;
  margin-top: 11.7em;
  object-fit: cover;
}

.motives-Left,
.motives-Righ {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
}

.advContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: flex-end;
}

.iconList {
  max-width: 80%;
  min-height: 22em;
  text-align: left;
  box-sizing: border-box;
}

.motives-Left .iconList:nth-child(odd),
.motives-Righ .iconList:nth-child(2) {
  align-self: flex-end;
}

.iconList:nth-child(2) {
  margin: 3.2em 0;
}

.iconList h5 {
  margin: 0.6em 0;
}

.iconList p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: rgba(34, 34, 59, 0.7);
}

/*Breakpoints*/

/*Tablet*/

@media (min-width: 400px) and (max-width: 900px) {
  .advantage {
    padding-top: 0;
    margin-bottom: 12em;
    background-image: url('/img/bg-colorMb.png');
  }

  .advantage h2 {
    text-align: center;
  }

  .motives-Left,
  .motives-Righ {
    max-width: 360px;
    padding: 6.4em 0 3.2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2em;
    flex-shrink: 0;
  }

  .motives-Left li:nth-child(even),
  .motives-Righ li:nth-child(even) {
    display: none;
  }

  .motives-Left li,
  .motives-Righ li {
    max-height: 220px;
    overflow: hidden;
  }

  .advContainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .iconList {
    max-width: 380px;
  }

  .motives-Left .iconList:nth-child(odd) {
    padding-left: 0px;
  }

  .iconList:nth-child(2) {
    margin: 0;
  }

  #userAdvantage {
    display: none;
  }

  #userAdvantageMb {
    display: block;
    width: 100%;
  }
}

/*Mobile*/

@media (max-width: 400px) {
  .advantage {
    padding-top: 0;
    margin-bottom: 12em;
    background-image: url('/img/bg-colorMb.png');
  }

  .advantage h2 {
    text-align: center;
  }

  .advContainer {
    display: flex;
  }

  .motives-Left,
  .motives-Righ {
    padding: 64px 0 32px;
    gap: 3.2em;
    flex-shrink: 0;
  }

  .motives-Righ {
    display: none;
  }

  .motives-Left .iconList:nth-child(odd) {
    padding-left: 0px;
  }

  .motives-Left .iconList:nth-child(odd),
  .motives-Righ .iconList:nth-child(2) {
    align-self: flex-start;
  }

  .iconList {
    max-width: 342px;
  }

  .iconList:nth-child(2) {
    margin: 0;
  }

  #userAdvantage {
    display: none;
  }

  #userAdvantageMb {
    display: block;
    width: 100%;
  }

  .advantage .selector1 {
    display: flex;
  }

  .selector1 {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
  }
}
